/* Fichier CSS pour le formulaire de connexion et d'inscription*/

/*******************
SIGN IN / CONNEXION
********************/

body {
    background-color: var(--base-bg-color);
}

html {
    scroll-behavior: smooth;
}

body, button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.d-flex {
    display: flex;
}

.d-i-flex {
    display: inline-flex;
}

.w-400 {
    width: 400px;
}

#margin-auto {
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(220, 235, 255, 0.4);
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    padding: 2em;
    margin: 4em 0 8em 0;
    border-radius: 25px;
}

form h1 {
    text-align: center;
    font-weight: 600;
}

.form-input-parent {
    flex-direction: column;
    margin: 0 auto;
}

#forgotten-password {
    text-decoration: underline;
    font-weight: 500;
}

#remember {
    flex-direction: row;
    margin: 0 auto;
}

#remember-me {
    margin-left: 10px;
    font-weight: 500;
}

.form-input {
    border: 1px solid #000000;
    border-radius: 3px;
    height: 35px;
    direction: left; 
    text-indent: 10px;
    background-color: #ebeaea;
}

input[type=checkbox] {
    transform: scale(1.2);
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: #1B6779;
}

.submit-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #1B6779;
    color: #fff;
    border: 1px solid #1B6779;
    padding: 0.6em 5em 0.6em 5em;
    border-radius: 3px;
}

.submit-btn:hover {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
}

.other-btn {
    background-color: #fff;
    color: #1B6779;
    border: 1px solid #1B6779;
    padding: 0.6em 5em 0.6em 5em;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.incorrect {
    border-color: firebrick;
    color: firebrick;
    border-radius: 3px;
}