@import "form.css";

:root {
    --base-bg-color: #fff;
    --text-color: #000000;
    --nav-bg-color: #fff;
    --lang-bg-color: #fff;
    --lang-border-color: #aaa;
    --lang-bg-color: #fff;
    --lang-bg-color-hover: #FFFAFA;
    --theme-btn-bg-color: #333333;
    --theme-icon-color: #fff;
    --translation-bg-color: rgb(220, 235, 255, 0.4);
    --footer-bg-color: #DCEBFF;
}

/***Reset***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease; /* Pour changer le mode de façon moins statique */
}

/*************
SMOOTH SCROLL
*************/

html {
    scroll-behavior: smooth;
}

/************
FONTS
************/

/*Poppins light - pour le texte*/
@font-face {
    /* src: url(""); */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*Poppins medium - pour les titres*/
@font-face {
    /* src: url(""); */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/*************
DISPLAY FLEX
*************/

.d-flex {
    display: flex;
}

/***Dark mode***/
.dark-mode {
    --base-bg-color: #333333;
    --text-color: #fff;
    --nav-bg-color: #333333;
    --lang-border-color: #555555;
    --lang-bg-color: #333333;
    --lang-bg-color-hover: #444444;
    --lang-color-focus: #fff;
    --theme-icon-color: #333333;
    --theme-btn-bg-color: #fff;
    --translation-bg-color: rgba(185, 215, 255, 0.8);
    --footer-bg-color: #B9D7FF;
}

body {
    background-color: var(--base-bg-color);
}

/*********
ICONS
*********/

.fa-sort-down {
    vertical-align: center;
    margin-left: 5px;
}

.fa-circle-user {
    color: var(--text-color);
    font-size: 35px;
}

.icon {
    background: url("../imgs/icons/magnifying-glass.png") no-repeat left;
    background-size: 17px;
    background-position: 5px;
}

.fa-square-facebook {
    color: #1877F2;
}

.fa-square-instagram {
    color: #d62976;
}

.fa-square-twitter {
    color: #1DA1F2;
}

.fa-square-snapchat {
    color: #fffc00;
}

/*****
NAV
*****/

nav {
    /* position: fixed; */
    z-index: 10; /*Pour que les éléments animés restent derrière la nav*/
    padding: 1em;
    text-align: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--nav-bg-color);
}

#space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 5px;
    transition: none;
}

nav ul li a:hover {
    list-style: none;
    text-decoration: underline;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav ul li a:focus {
    list-style: none;
    color: var(--nav-a-focus-color);
    text-decoration: underline;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/******************
DROPDOWN ET LANGUE
******************/

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.drop-link {
    padding-top: 0.5em;
    justify-content: center;
    align-self: center;
}

/*Le contenu du dropdown est caché par défaut*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lang-bg-color);
    border: 1px solid var(--lang-border-color);
    border-radius: 5px;
    margin: 0.3em 0 0 1.2em;
}

.dropdown-content a {
    display: block;
    color: var(--text-color);
    padding: 1em 2em;
    text-decoration: none;
    min-width: 11em;
    transition: none;
}

.dropdown-content a:hover {
    background-color: var(--lang-bg-color-hover);
    border-radius: 5px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.lang-change:focus {
    color: var(--lang-color-focus);
    text-decoration: underline;
}

.big {
    width: 40%;
}

.flag {
    width: 35%;
    height: 39%;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}

/***THEMES***/

.drop-link {
    text-decoration: none;
    color: #000000;
}

#change-theme {
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-btn-bg-color);
    border: 1px solid var(--theme-btn-bg-color);
    cursor: pointer;
}

.dropdown-menu:hover #themes {
    display: block;
    width: 500px;
}

#change-theme svg {
    fill: var(--theme-icon-color);
}

/*Je veux montrer une seule icône quand le mode lumineux (par défaut) est actif*/
#change-theme svg:last-child {
    display: none;
    fill: var(--theme-icon-color);
}

/*Je fais donc pareil pour le mode sombre*/
.dark-mode #change-theme svg:first-child {
    display: none; /*Je rend l'icône lune invisible*/
    fill: var(--theme-icon-color);
}

.dark-mode #change-theme svg:last-child {
    display: block; /*Et j'affiche celle du soleil*/
    fill: var(--theme-icon-color);
}

#nav-ul {
    align-items: center;
}

#nav-search-input {
    transition: none;
    padding: 6px 6px 6px 22px;
    background-color: #E6E6E6;
    color: #000000;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    margin-right: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#nav-search-input::placeholder {
    color: #aaa;
    padding-left: 5px;
    vertical-align: middle;
}

.translation-parent {
    background-color: var(--translation-bg-color);
    padding: 2em;
    width: 98%;
    border-radius: 25px;
    margin: 0 auto;
}

#translation-img {
    width: 35%;
}

/*************
FOOTER
*************/

#footer {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: var(--footer-bg-color);
    padding: 1em;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#footer ul li {
    list-style: none;
}