@import "form.css";

:root {
    --base-bg-color: #fff;
    --text-color: #000000;
    --nav-bg-color: #fff;
    --lang-bg-color: #fff;
    --lang-border-color: #aaa;
    --lang-bg-color: #fff;
    --lang-bg-color-hover: #FFFAFA;
    --sort-color: #000000;
    --theme-btn-bg-color: #333333;
    --theme-icon-color: #fff;
    --translation-bg-color: rgb(220, 235, 255, 0.4);
    --footer-bg-color: #DCEBFF;
}

/***Reset***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease; /* Pour changer le mode de façon moins statique */
}

/*************
SMOOTH SCROLL
*************/

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/************
FONTS
************/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/*************
DISPLAY FLEX
*************/

.d-flex {
    display: flex;
}

/***Dark mode***/
.dark-mode {
    --base-bg-color: #333333;
    --text-color: #fff;
    --nav-bg-color: #333333;
    --lang-border-color: #555555;
    --lang-bg-color: #333333;
    --lang-bg-color-hover: #444444;
    --lang-color-focus: #fff;
    --sort-color: #fff;
    --theme-icon-color: #333333;
    --theme-btn-bg-color: #fff;
    --translation-bg-color: rgba(185, 215, 255, 0.8);
    --footer-bg-color: #B9D7FF;
}

body {
    background-color: var(--base-bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p, li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #000000;
    text-decoration: none;
}

/*********
ICONS
*********/

#website-logo-nav {
    width: 11%;
}

/* .fa-sort-down {
    vertical-align: center;
    margin-left: 5px;
    color: var(--sort-color);
} */

.fa-circle-user {
    transition: none;
    color: var(--text-color);
    font-size: 35px;
}

.fa-circle-user:hover {
    transition: none;
    color: #B5C7EB;
    font-size: 35px;
}

.facebook {
    width: 3%;
}

.instagram {
    width: 3%;
}

.youtube {
    width: 3.5%;
}

/*****
NAV
*****/

nav {
    /* position: fixed; */
    z-index: 10; /*Pour que les éléments animés restent derrière la nav*/
    padding: 1em;
    text-align: center;
    width: 100%;
    background-color: var(--nav-bg-color);
}

#space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 5px;
    transition: none;
}

nav ul li a:hover {
    list-style: none;
    text-decoration: underline;
    border-radius: 5px;
}

nav ul li a:focus {
    list-style: none;
    color: var(--nav-a-focus-color);
    text-decoration: underline;
    border-radius: 5px;
}

#nav-ul {
    align-items: center;
}

/******************
DROPDOWN ET LANGUE
******************/

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.drop-link {
    justify-content: center;
    align-self: center;
    text-decoration: none;
    color: #000000;
}

/*Le contenu du dropdown est caché par défaut*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lang-bg-color);
    border: 1px solid var(--lang-border-color);
    border-radius: 5px;
    margin: 0.3em 1em 0 0;
    right: 0;
}

.dropdown-content a {
    display: block;
    color: var(--text-color);
    padding: 1em 2em;
    text-decoration: none;
    min-width: 11em;
    transition: none;
}

.dropdown-content a:hover {
    background-color: var(--lang-bg-color-hover);
    border-radius: 5px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.lang-change:focus {
    color: var(--lang-color-focus);
    text-decoration: underline;
}

.big {
    width: 40%;
}

.flag {
    width: 35%;
    height: 39%;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}

/***THEMES***/

#change-theme {
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-btn-bg-color);
    border: 1px solid var(--theme-btn-bg-color);
    cursor: pointer;
}

#change-theme svg {
    fill: var(--theme-icon-color);
}

/*Je veux montrer une seule icône quand le mode lumineux (par défaut) est actif*/
#change-theme svg:last-child {
    display: none;
    fill: var(--theme-icon-color);
}

/*Je fais donc pareil pour le mode sombre*/
.dark-mode #change-theme svg:first-child {
    display: none; /*Je rend l'icône lune invisible*/
    fill: var(--theme-icon-color);
}

.dark-mode #change-theme svg:last-child {
    display: block; /*Et j'affiche celle du soleil*/
    fill: var(--theme-icon-color);
}


/**************
BODY
**************/

.translation-parent {
    justify-content: center;
}

.translation {
    background-color: var(--translation-bg-color);
    margin: 4em 0 8em 0;
    padding: 2em;
    width: 98%;
    border-radius: 25px;
}

#translation-img {
    width: 35%;
}

.title {
    flex-direction: column;
    padding-left: 8em;
    justify-content: center;
}

#translation-title {
    font-size: 32px;
}

#search {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 0.5em;
    width: 50%;
    background-color: #E6E6E6;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
}

#search h3 {
    padding-left: 0.8em;
    font-weight: 400;
}

#searching-glass {
    width: 6%;
}

#start-searching {
    font-size: 22px;
}


/*************
FOOTER
*************/

footer {
    z-index: 10;
    background-color: var(--footer-bg-color);
    padding: 1em;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.logo-text {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em 0;
}

.parent-logo {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

#website-logo-footer {
    width: 35%;
}

.parent-text {
    width: 50%;
}

.text {
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.socials-pages {
    flex-direction: row;
    margin: 2em 0 2em 0;
}

.parent-socials {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#socials-title {
    font-weight: 400;
}

.socials {
    margin-top: 1em;
}

.parent-pages {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#pages-title {
    font-weight: 400;
}

.pages {
    margin-top: 1em;
}

footer ul li {
    list-style-type: none;
}