// body
.bg-color-brown {   
    background-color: #592720;
}


/***Main**/
.accueil-container {
    max-width: 1080px;
    margin: 0 auto;
}

.accueil-container>.translation-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 3.5em 0;
}

.accueil-container>.translation-titles span {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    line-height: 70px;
}

.accueil-container>.translation-parent {
    display: flex;
    justify-content: center;
    column-gap: 4em;
    padding-bottom: 3.5em;
}

.accueil-container>section .translation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #DCAC4D;
}

.accueil-container>section .translation-card .book {
    width: 85%;
    margin-top: 1em;
}

.accueil-container>section .translation-card .card-img {
    width: 90%;
    margin-top: 1em;
}

.accueil-container>section .translation-card figure img {
    width: 100%;
}

.translation-card>span {
    font-style: italic;
    font-size: 22px;
    margin-top: 0.8em;
}

.translation-card>p {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 260px;
    margin: 25px 0 25px 0;
}