.accueil-connect-container>h2 {
    margin: 50px 0 30px 15px;
}

/************
RESPONSIVE
************/
@media screen and (max-width: 576px) {
    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 25px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 50%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card>p {
        font-size: 15px;
        padding: 0.5em;
    }
}

@media screen and (min-width: 577px) and (max-width: 1000px) {
    
    // Accueil container
    .accueil-container .translation-titles>span {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
    }

    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 30px;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 40%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card>p {
        font-size: 15px;
        padding: 0.8em;
    }
}