@use '../other/variables';

/***FONT STYLES***/
label {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
}

.account-parent>a,
.account-parent div {
    font-family: "PoppinsLight";
    font-weight: 300;
    font-style: normal;
}


/***CODE***/

// form container
.form-container {
    align-items: center;
    justify-content: center;
}

// form width
.w-50-percent {
    width: 60%;
}


// form parent
.form-parent {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.form-parent>figure {
    width: 35%;
}

.form-parent figure>img {
    width: 100%;
    border-radius: 15px;
}


// form
form {
    background-color: #fff;
    flex-direction: column;
    width: 40%;
    border-radius: 10px;
}


// labels
label {
    font-weight: 400;
}


// inputs
.form-input-parent {
    flex-direction: column;
    margin: 0 auto;
}

.form-input {
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    height: 40px;
    direction: left;
    text-indent: 10px;
    background-color: #F5F5F5;
}


// password inputs
#password-div {
    margin-bottom: 1em;
}

#forgotten-password {
    font-weight: 400;
    margin: 7px 0 30px 0;
}


// checkbox
#remember {
    flex-direction: row;
    margin-top: 1.5em;
}

#remember-input {
    margin-right: 0.4rem;
}

.mb-50 {
    margin-bottom: 50px;
}

input[type=checkbox] {
    transform: scale(1.4);
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: variables.$form-btn-bg-color;
}


// .submit-btn
.submit-btn {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background-color: variables.$form-btn-bg-color;
    border: 2px solid variables.$form-btn-bg-color;
    color: #fff;
    border-radius: 6px;
    padding: 0.7em 2.5em 0.7em 2.5em;
    margin: 80px auto 25px auto;
    /*Raccourci pour : margin: 0 auto; , margin-top: 80px;*/
    width: 40%;
    transition: none;
}

.submit-btn:hover {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    background-color: variables.$form-btn-bg-color-active;
    border: 2px solid variables.$form-btn-bg-color-active;
    cursor: pointer;
}


// account
.account-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.account-parent a,
.account-parent div {
    margin-bottom: 14px;
    color: #8A8A8A;
    transition: none;
}

.account-parent div>.connect-register-link {
    font-family: "PoppinsLight", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: variables.$form-btn-bg-color;
}

.account-parent div>.connect-register-link:hover {
    color: variables.$form-btn-bg-color-active;
    text-decoration: underline;
    transition: none;
}


// margins
.mt-first-label, .mt-second-label {
    width: 100%;
    margin-top: 1.5em;
}

.mb-10 {
    margin-bottom: 10px;
}

#username {
    margin-bottom: 20px;
}


@media screen and (max-width: 576px) {
    .form-parent {
        flex-direction: column;
    }

    .form-parent>figure {
        display: none;
    }

    form {
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 1000px) {
    .form-parent>figure {
        width: 45%;
    }

    .form-parent {
        margin: 1.5em 0 1.5em 0;
        flex-direction: column;
    }

    form {
        width: 95%;
    }

    .mt-first-label {
        margin-top: 3em;
    }

    .account-parent>div {
        margin-bottom: 0;
    }
}