.profile-container {
    width: 100%;
}

// Profile banner
.profile-banner {
    background-image: url("../../../assets/imgs/placeholders/fungal-wastes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.5);
    width: 100%;
    height: 55vh;
    justify-content: center;
    align-items: center;
}

.user-pfp-figure {
    width: 10%;
    position: absolute;
    bottom: 270px;
}

.user-pfp-figure>img {
    width: 100%;
    border-radius: 50%;
    border: 4px solid $form-btn-bg-color;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.5);
}


/* PROFILE */
.profile-infos {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #A0A0A0;
    margin-bottom: 5em;
}


// .user-profile
.user-profile {
    width: 100%;
}

.user-profile .hr-profile {
    margin: 2em 0 2em 0;
}

.user-profile .hr-profile>#separator {
    color: #888888;
}


// .parameters-icons
.user-profile>.parameters-icons {
    padding: 10px 25px 10px 0;
    justify-content: flex-end;
    gap: 15px;
}

.parameters-icons>a {
    font-size: 21px;
}


// .username-and-description
.username-and-description {
    text-align: center;
}

.username-and-description>h1 {
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0 0 0.8em 0;
}

.username-and-description>p {
    font-family: "PoppinsLightItalic", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    max-width: 50%;
    color: #888888;
    margin: 0 auto;
}

// .activity-infos
.activity-infos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.1em;
}

.activity-infos div>p {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 19px;
}

// .activity-infos .translations:before {
//     font-family: "FontAwesome";
//     content: "\f31c";
//     font-size: 22px;
//     align-content: center;
//     color: #199977;
//     margin-right: 13px;
// }

// .activity-infos .subscribers:before {
//     font-family: "FontAwesome";
//     content: "\f500";
//     font-size: 22px;
//     align-content: center;
//     color: #1417b4;
//     margin-right: 13px;
// }

// .activity-infos .likes:before {
//     font-family: "FontAwesome";
//     content: "\f004";
//     font-size: 22px;
//     align-content: center;
//     color: #ec0b77;
//     margin-right: 13px;
// }

// hr
.hr-activity>.activity-separator {
    margin: 0 15px 0 15px;
    border-bottom: 1px solid #000;
    height: 50px;
}


/* TRADUCTIONS */

//.song-container
.song-container {
    flex-direction: row;
    justify-content: center;
    column-gap: 10em;
    margin-bottom: 5em;
}

/* card-item */
.simple-card-item {
  display: flex;
  align-content: center;
  width: 310px;
  border: 3px solid #DCAC4D;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
}

.simple-card-content {
  width: 240px;
  margin: 0 auto;
}

.simple-card-item .simple-card-content figure>img {
  border-radius: 10px;
  margin: 5px 0 10px 0;
}

.simple-card-item .simple-card-content .simple-title>h3 {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.6em;
  margin-top: 10px;
}

.simple-card-item .simple-card-content>.simple-text {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 50px 0 50px 0;
  color: var(--text-color);
  list-style: none;
  line-height: 2.5em;
}

.simple-card-item .simple-card-content>.simple-other-infos {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 20px 0 10px 0;
  color: var(--text-color);
  list-style: none;
  line-height: 2em;
}

// .song-container .songs-infos-result {
//     width: 100%;
//     gap: 3em;
//     margin-bottom: 8em;
// }

// // Figure
// .song-container .songs-infos-result>figure {
//     display: flex;
//     align-items: center;
//     width: 50%;
// }

// // Figure>img
// .song-container .songs-infos-result figure img {
//     width: 100%;
//     border-radius: 10px;
// }

// //Info-list
// .infos-list-result {
//     display: flex;
//     flex-direction: column;
//     row-gap: 150px;
// }

// .infos-list-result>ul {
//     list-style-type: none;
// }

// .infos-list-result ul>li {
//     font-family: "PoppinsRegular";
//     font-weight: 400;
//     font-style: normal;
//     line-height: 2em;
// }

// .song-name {
//     font-size: 20px;
// }

// .infos-list-result .user-song-infos-result {
//     flex-direction: column;
// }