.parent-section {
    justify-content: center;
    margin: 4em 0 4em 0;
}

.m-t-song {
    margin-top: 4em;
}

.see-translation-link {
    text-align: center;
    margin-top: 10px;
}

.see-translation-link>a {
    font-family: "PoppinsSemibold", sans-serif;
    font-weight: 600;
}


// Responsive
@media screen and (max-width: 576px) {
    
}