@use '../variables';

p,
span,
a,
label {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
}

.upload-file-container {
    justify-content: center;
    align-items: center;
}

.app {
    width: 80%;
    height: 80%;
    border: 1px solid #aaa;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 10px 25px #dddddd;
}


.heading {
    margin-bottom: 1.5em;
}

.heading>h1 {
    font-family: "PoppinsMedium";
    font-weight: 500;
    font-style: normal;
    margin: 0.5em 0 0.3em 0;
}


.preview {
    margin-bottom: 2em;
}

.file-infos {
    margin-bottom: 2em;
}

.preview-infos-p {
    margin-bottom: 2em;
}

.buttons {
    margin-bottom: 1.5em;
}

.buttons #choose-file-button>input {
    display: none;
}

.buttons #choose-file-button>label {
    display: flex;
    align-items: center;
    background-color: variables.$form-btn-bg-color;
    border: 1px solid variables.$form-btn-bg-color;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 14px;
}

.buttons #choose-file-button>label:before {
    font-family: "FontAwesome";
    content: "\f574";
    font-size: 22px;
    align-content: center;
    color: #fff;
    margin-right: 13px;
}

.buttons #choose-file-button>label:hover {
    background-color: variables.$form-btn-bg-color-active;
    border: 1px solid variables.$form-btn-bg-color-active;
    cursor: pointer;
}

.buttons #choose-file-button>p {
    font-size: 15px;
}