// Importations
@import "fonts/fonts.scss";
@import "variables.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "themes/themes.scss";
@import "pages/accueil.scss";
@import "pages/form.scss";
@import "pages/accueil-connect.scss";
@import "components/slider.scss";
@import "pages/search-result.scss";
@import "pages/profile.scss";
@import "pages/upload-file.scss";
@import "pages/settings-style/general.scss";


// Style

/***Reset***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s ease;
  /* Pour changer le mode de façon moins statique */
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.d-flex {
  display: flex;
}

html,
body,
.accueil {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsMedium", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}