<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Trouver Ma Traduction</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="/assets/imgs/favicon/favicon-48x48.png">
</head>

<body>
    <div id="cover-background"></div>

    <header>
        <nav class="d-flex">
            <figure class="nav-logo-figure">
                <a href="#"><img src="/assets/imgs/logo-160x160.png" alt="Website logo" class="nav-logo-img"></a>
            </figure>

            <input type="checkbox" id="check">

            <div class="d-flex input-and-profile">
                <label for="check" class="close-menu"><i class="fa-solid fa-xmark"></i></label>

                <form action="" class="search-form">
                    <div class="d-flex input-wrapper">
                        <input type="search" class="input-icon" placeholder="&#xf002;&ensp;&ensp;Recherche...">
                    </div>
                </form>

                <figure class="d-flex profile-picture-figure">
                    <a href="profile.html"><img src="/assets/imgs/placeholders/default-pfp.png"
                            alt="Profile picture"></a>
                </figure>
            </div>

            <label for="check" class="open-menu"><i class="fa-solid fa-bars"></i></label>
        </nav>
    </header>

    <main class="accueil-connect-container">
        <a href="search-result.html">Soumettre form</a>

        <h2>Nouvelles traductions</h2>

        <div class="swiper"> <!-- Le conteneur principal du slider -->
            <div class="cards-wrapper"> <!-- Boîte contenant toutes les cartes, leur style ainsi que les fonctionnalités du slider -->
                <div class="swiper-wrapper"> <!-- Boîte contenant chaque slides (cartes) individuellement. Toutes les cartes seront les enfants de cet élément -->
                    <div class="swiper-slide"> <!-- Une seule carte, cette classe permet à Swiper.js de faire défiler les cartes -->
                        <div class="card-content"> <!-- Le contenu de la carte -->
                            <figure><img src="/assets/imgs/general/slider/pdf-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-content">
                            <figure><img src="/assets/imgs/general/slider/docx-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-content">
                            <figure><img src="/assets/imgs/general/slider/pdf-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-content">
                            <figure><img src="/assets/imgs/general/slider/docx-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-content">
                            <figure><img src="/assets/imgs/general/slider/pdf-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-content">
                            <figure><img src="/assets/imgs/general/slider/docx-file-extension.png"
                                    alt="PDF file extension" />
                            </figure>

                            <div class="title">
                                <h3>Nom de la traduction</h3>
                                <h4 class="see-translation-link"><a href="file-viewer.html">Voir la traduction</a>
                                </h4>
                            </div>

                            <ul class="text">
                                <li>Type : (Type de contenu)</li>
                                <li>Style : (Style)</li>
                                <li>Auteur : (Nom de l'auteur)</li>
                                <li>Langue : (Langue)</li>
                            </ul>

                            <ul class="other-infos">
                                <li>Par : Nom de l'utilisateur</li>
                                <li>Postée le : JJ/MM/AAAA</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="d-flex">
        <div class="d-flex logo-text margin-foot">
            <figure class="parent-logo">
                <a href="#"><img src="/assets/imgs/logo-160x160.png" alt="website logo"></a>
            </figure>

            <div class="d-flex parent-text">
                <div class="text">
                    <p>Ce site a été réalisé dans le cadre de la formation "TP - Développeur Web" de l'AFEC.</p>
                </div>
            </div>
        </div>

        <hr>

        <p class="freepik">Toutes les images viennent de <a href="https://www.freepik.com/" target="_blank">Freepik</a>
        </p>
    </footer>

    <!-- Le JS de Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Mes fichiers JS -->
    <script src="/js/slider.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>