// :root {
//     $base-bg-color: #fff;
//     $text-color: #000000;
//     $nav-bg-color: #fff;
//     $lang-bg-color: #fff;
//     $lang-border-color: #aaa;
//     $lang-bg-color: #fff;
//     $lang-bg-color-hover: #FFFAFA;
//     $sort-color: #000000;
//     $theme-btn-bg-color: #333333;
//     $theme-icon-color: #fff;
//     $translation-bg-color: rgb(220, 235, 255, 0.4);
//     $footer-bg-color: #DCAC4D;
// }


/***Dark mode***/
// .dark-mode {
//     $base-bg-color: #333333;
//     $text-color: #fff;
//     $nav-bg-color: #333333;
//     $lang-border-color: #555555;
//     $lang-bg-color: #333333;
//     $lang-bg-color-hover: #444444;
//     $lang-color-focus: #fff;
//     $sort-color: #fff;
//     $theme-icon-color: #333333;
//     $theme-btn-bg-color: #fff;
//     $translation-bg-color: rgba(185, 215, 255, 0.8);
//     $footer-bg-color: #B9D7FF;
// }


// #change-theme {
//     justify-content: center;
//     align-items: center;
//     height: 40px;
//     width: 40px;
//     padding: 0;
//     border-radius: 50%;
//     background-color: var($theme-btn-bg-color);
//     border: 1px solid var($theme-btn-bg-color);
//     cursor: pointer;
// }


/***Icons***/

// #change-theme svg {
//     fill: var($theme-icon-color);
// }

/*Je veux montrer une seule icône quand le mode lumineux (par défaut) est actif*/
// #change-theme svg:last-child {
//     display: none;
//     fill: var($theme-icon-color);
// }

/*Je fais donc pareil pour le mode sombre*/
// .dark-mode #change-theme svg:first-child {
//     display: none; /*Je rend l'icône lune invisible*/
//     fill: var($theme-icon-color);
// }

// .dark-mode #change-theme svg:last-child {
//     display: block; /*Et j'affiche celle du soleil*/
//     fill: var($theme-icon-color);
// }