footer {
    bottom: 0;
    z-index: 10;
    background-color: var(--footer-bg-color);
    padding: 1em;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

footer ul li {
    list-style-type: none;
}

footer>p {
    margin-top: 2em;
}

footer>p a {
    text-decoration: underline;
    transition: none;
}

footer>p a:hover {
    text-decoration: underline;
    color: #fff;
    transition: none;
}

.margin-foot {
    margin: 1em 0 1em 0;
}


/***Logo***/
.logo-text {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parent-logo {
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 0 auto;
}

#website-logo-footer {
    width: 100%;
}


/***Texte***/
.parent-text {
    width: 50%;
}

.text {
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

hr {
    width: 80%;
    border-bottom: 1px solid #242424;
    margin: 0 auto;
}


/*****************
PAGE & SOCIALS
*****************/

/***Pages***/
.socials-pages {
    flex-direction: row;
}

.parent-pages {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.parent-pages>h3 {
    font-weight: 300;
}

.pages {
    margin-top: 1em;
}


/***Socials***/
.parent-socials {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.parent-socials>h3 {
    font-weight: 300;
}

.socials {
    margin-top: 1em;
}

.freepik {
    padding-bottom: 1em;
}


/***Icons***/

.facebook {
    width: 3%;
}

.instagram {
    width: 3%;
}

.youtube {
    width: 3.5%;
}