/********************
HERO, HEADER & NAV
********************/

/***HERO***/
.hero {
    min-height: 100vh;
    background-image: url("../assets/imgs/general/header-img.png");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.5);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-nav h1 {
    color: white;
    text-align: center;
    line-height: 6em;
    font-size: 40px;
    font-weight: 300;
}

.hero-nav>ul li {
    list-style-type: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav>ul li a {
    color: white;
}

.hero-nav>ul li:hover {
    border: 2px solid $form-btn-bg-color-hover;
    background-color: $form-btn-bg-color-hover;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav>ul li:active {
    border: 2px solid $form-btn-bg-color-active;
    background-color: $form-btn-bg-color-active;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav> ul {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 10vh;
}


/***HEADER***/
header {
    min-width: 100vw;
}


/***NAV***/
nav {
    align-items: center;
    padding: 8px;
}

#website-logo-nav {
    width: 11%;
}

.logo-input {
    width: 50%;
    gap: 10px;
    margin-left: 10px;
}

.logo-input>a {
    display: flex;
    justify-content: center;
    align-items: center;
}


/**************
SEARCH FORM
**************/

/***Form***/
.search-form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.input-wrapper {
    flex-direction: row;
}

.input-wrapper>input {
    font-family: "PoppinsRegular", "sans-serif";
    height: 35px;
    direction: left;
    text-indent: 10px;
    background-color: #F5F5F5;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
}

.input-wrapper>button {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: $form-btn-bg-color;
    border: 1px solid $form-btn-bg-color;
    color: #fff;
    border-radius: 6px;
    margin-left: 0.5em;
    padding: 2px 10px 2px 10px;
    text-align: center;
    transition: none;
}

.magnifying-glass {
    font-size: 20px;
}

.input-wrapper>button:hover {
    background-color: $form-btn-bg-color-hover;
    border: 1px solid $form-btn-bg-color-hover;
    cursor: pointer;
}

.input-wrapper>button:active {
    background-color: $form-btn-bg-color-active;
    border: 1px solid $form-btn-bg-color-active;
    cursor: pointer;
}


/***User profile picture***/
#nav-ul {
    justify-content: flex-end;
}

#nav-ul>#profile-picture {
    list-style-type: none;
    width: 5%;
}

#nav-ul #profile-picture img {
    width: 100%;
    border-radius: 50%;
}