/************
HERO + NAV
************/



/***HERO***/

.hero {
    min-height: 100vh;
    background-image: url("../assets/imgs/general/header-img.png");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.5);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-nav h1 {
    color: white;
    text-align: center;
    line-height: 6em;
    font-size: 40px;
}

.hero-nav>ul li {
    list-style-type: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav>ul li a {
    color: white;
}

.hero-nav>ul li:hover {
    border: 2px solid #DAA520;
    background-color: #DAA520;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav>ul li:active {
    border: 2px solid #DB8535;
    background-color: #DB8535;
    border-radius: 10px;
    padding: 10px 45px 10px 45px;
    transition: none;
}

.hero-nav> ul {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 10vh;
}



/***NAV***/ 

#website-logo-nav {
    width: 11%;
}

/***User profile picture***/
#nav-ul li {
    list-style-type: none;
    background-color: orange;
}

#nav-ul>#profile-picture {
    width: 4%;
}

#nav-ul #profile-picture img {
    width: 100%;
    border-radius: 50%;
}