// .slider-container {
//   display: flex;
//   max-width: 100vw;
//   width: 85%;
//   margin: 0 auto;
// }

// .slider {
//   width: 100%;
//   margin: 30px 0 50px 0;
//   padding: 5px;
// }

// .slick-slide {
//   padding: 10px;
//   height: 100vh;
// }


/**CARDS**/
.cards-container {
  // background-color: #0077B5;
  width: 100%;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* card-wrapper */
.card-wrapper {
  max-width: 100%;
  margin: 0 60px 35px;
  overflow: hidden;
}

.card-list {
  width: 50%;
}

/* card-item */
.card-item {
  display: flex;
  align-content: center;
  height: auto !important;
  border: 3px solid #B5C7EB;
  border-radius: 6px;
  // padding: 20px 25px 20px 25px;
  margin-bottom: 10px;
}

.card-item>figure {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.card-item figure>img {
  border-radius: 10px;
}

.card-item:active {
  cursor: grabbing;
}

.card-item .title>h3 {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.6em;
}

.card-item .titles>h4 {
  font-family: "Roboto-LightItalic", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  text-transform: none;
  color: #AAAAAA;
}

.card-item>.text {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  margin-top: 20px;
  color: var(--text-color);
}

.card-item .text>.src {
  text-align: center;
  margin-top: 20px;
}

.card-item .text .src>a {
  text-decoration: none;
  color: var(--github-link);
}


.songs-infos {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px 10px 15px 10px;
  gap: 2em;
}

.songs-infos figure {
  align-items: center;
  width: 45%;
}

.songs-infos figure a>img {
  width: 100%;
  border-radius: 10px;
}

.infos-list {
  display: flex;
  flex-direction: column;
  row-gap: 175px;
}

.infos-list>ul:first-child {
  list-style-type: none;
  line-height: 2em;
}

.infos-list .user-song-infos {
  flex-direction: column;
  list-style-type: none;
}

.infos-list .user-song-infos>li {
  line-height: 2em;
}


// Arrows
.slick-prev {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

// .slick-arrow>.slick-prev {
//   left: 100px;
//   font-size: 1.5rem;
//   background-color: midnightblue;
//   color: #fff;
//   padding: 5px;
//   border-radius: 5px;
//   z-index: 1;
// }

// .slick-arrow>.slick-next {
//   right: 100px;
//   font-size: 1.5rem;
//   background-color: midnightblue;
//   color: #fff;
//   padding: 5px;
//   border-radius: 5px;
// }


// '<button class="fa-solid "></button>',
//     nextArrow: '<button class="fa-solid "></button>',