/***Reset***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease; /* Pour changer le mode de façon moins statique */
}

/*************
SMOOTH SCROLL
*************/

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/***DISPLAY FLEX***/

.d-flex {
    display: flex;
}

html, body, .accueil {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PoppinsMedium", sans-serif;
}

p, li {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #000000;
    text-decoration: none;
}


/***Main**/

.accueil-container  {
    background-color: #592720;
}

.accueil-container>.translation-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 3.5em 0;
}

.accueil-container>.translation-titles span {
    font-family: "PoppinsRegular", "sans-serif";
    font-size: 25px;
    color: #fff;
    line-height: 70px;
}

.accueil-container>.translation-parent {
    display: flex;
    justify-content: center;
    column-gap: 4em;
    padding-bottom: 3.5em;
}

.accueil-container>section .translation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 23%;
    border: 2px solid #DCAC4D;
}

.accueil-container>section .translation-card .book {
    width: 80%;
    margin-top: 1.8em;
}

.accueil-container>section .translation-card figure img {
    width: 100%;
}

.translation-card>span {
    font-style: italic;
    font-size: 22px;
    margin-top: 1em;
}

.translation-card>p {
    width: 85%;
    margin: 40px 0 25px 0;
}

.texts {
    width: 80%;
    margin-top: 0.3em;
}