/* Fichier SCSS pour le formulaire de connexion et d'inscription */

/************
FONT STYLES
************/
label {
    font-family: "PoppinsRegular";
    font-weight: 400;
    font-style: normal;
}

.account-parent>a, .account-parent div {
    font-family: "PoppinsLight";
    font-weight: 300;
    font-style: normal;
}

.d-i-flex {
    display: inline-flex;
}

.w-50-percent {
    width: 60%;
}

.form-parent {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#form-image {
    border-radius: 15px;
}

form {
    flex-direction: column;
    width: 40%;
    padding: 2em 0 2em 0;
    margin: 3em 0 1em 0;
    border-radius: 10px;
}

.form-input-parent {
    flex-direction: column;
    margin: 0 auto;
}

label {
    font-weight: 400;
}

.mt-first-label {
    margin-top: 1.5em;
}

.mb-10 {
    margin-bottom: 10px;
}

#password-div {
    margin-bottom: 1em;
}

#forgotten-password {
    font-weight: 400;
    margin: 7px 0 30px 0;
}

#remember {
    flex-direction: row;
    margin-top: 1.5em;
}

#remember-input {
    margin-right: 0.4rem;
}

.form-input {
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    height: 40px;
    direction: left; 
    text-indent: 10px;
    background-color: #F5F5F5;
}

.mb-50 {
    margin-bottom: 50px;
}

input[type=checkbox] {
    transform: scale(1.4);
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: #DCAC4D;
}

#username {
    margin-bottom: 20px;
}

.submit-btn {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background-color: $form-btn-bg-color;
    color: #fff;
    border: 2px solid $form-btn-bg-color;
    border-radius: 6px;
    padding: 0.7em 2.5em 0.7em 2.5em;
    margin : 80px auto 25px auto; /*Raccourci pour : margin: 0 auto; , margin-top: 80px;*/
    width: 40%;
    transition: none;
}

.submit-btn:hover {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: $form-btn-bg-color-hover;
    border: 2px solid $form-btn-bg-color-hover;
}

.submit-btn:active {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: $form-btn-bg-color-active;
    border: 2px solid $form-btn-bg-color-active;
}

.account-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.account-parent a, .account-parent div {
    margin-bottom: 14px;
    color: #8A8A8A;
    transition: none;
}

.connect-register-link {
    color: #DCAC4D;
}

.connect-register-link:hover {
    color: #DB8535;
    text-decoration: underline;
    transition: none;
}

#connect-link {
    color: #DCAC4D;
}

#connect-link:hover {
    color: #DB8535;
    text-decoration: underline;
    transition: none;
}