.search-result-container {
    max-width: 10px;
    margin: 0 auto;
}

#songs-infos-result>figure {
    width: 3%;
}

#songs-infos-result figure img {
    width: 5%;
}

.song-container {
    width: 4%;
    background-color: blue;
}