.search-result-container {
    max-width: 1080px;
    margin: 0 auto;
}

.search-result-container .song-container .songs-infos-result>figure {
    width: 40%;
}

.search-result-container .song-container .songs-infos-result figure img {
    width: 100%;
}