.settings-container {
    max-width: 1080px;
    margin: 0 auto;
}


// setting-parent (section)
.settings-parent {
    flex-direction: row;
    margin: 50px 0 50px 0;
}


// all-settings
.all-settings {
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 10px;
}

.all-settings>li {
    list-style-type: none;
    padding: 25px 5em 25px 20px;
}

.all-settings li>a {
    flex-direction: row;
    align-items: center;
}


// Icons (ul li>a)
.all-settings li a>i {
    font-size: 25px;
    margin-right: 20px;
}

// border-left
.border-left {
    border-left: 2px solid #000;
}

.separator {
    border: 1px solid #A0A0A0;
}


// profile-params
.profile-params {
    padding-left: 40px;
    border-left: 1px solid #A0A0A0;
}

// profile-picture
.profile-picture {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.profile-picture>figure {
    width: 9%;
}

.profile-picture figure>img {
    border-radius: 50%;
}

.profile-picture>ul {
    list-style-type: none;
    line-height: 2em;
}

.profile-picture ul>li:first-child {
    font-family: "PoppinsRegular", sans-serif;
    font-size: 18px;
}

.profile-picture ul li>a {
    font-family: "PoppinsLight", sans-serif;
    color: #608DFF;
}


// profile-form
.profile-form {
    margin: 50px 0 30px 0;
}

.profile-form form>.param {
    margin-bottom: 1.5em;
}

.param {
    flex-direction: row;
}

.param label, input, textarea, select {
    flex-shrink: 0;
}

.param>input, textarea, select {
    width: 100%;
    background-color: $input-bg-color;
    color: $input-text-color;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    margin-left: 15px;
}

.param>input, select {
    font-family: "PoppinsLight", sans-serif;
    height: 30px;
}

.param>input {
    padding-left: 10px;
    margin-left: 15px;
}

.param>textarea {
    font-family: "PoppinsLight", sans-serif;
    height: 150px;
    overflow: auto;
    padding: 5px 15px 5px 15px;
}


// submit-changes
.submit-changes {
    margin-top: 3em;
}

.submit-changes>button {
    background-color: $form-btn-bg-color;
    border: 1px solid $form-btn-bg-color;
    transition: none;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.submit-changes>button:hover {
    background-color: $form-btn-bg-color-active;
    border: 1px solid $form-btn-bg-color-active;
    transition: none;
    cursor: pointer;
}