@use '../other/variables';

/********************
HEADER & NAV
********************/

/***HEADER***/
header {
    width: 100%;
}


/***NAV***/
nav {
    justify-content: space-between;
    padding: 8px;
}

.logo-input {
    align-items: center;
    gap: 15px;
}

.nav-logo-parent {
    width: 20%;
}

.nav-logo {
    width: 100%;
    border-radius: 5px;
}

.figure-nav {
    align-items: center;
    width: 3.7%;
    margin-right: 8px;
}

.figure-nav a>img {
    width: 100%;
    border-radius: 50%;
}


/*** SEARCH FORM (input) ***/

/***Form***/
.search-form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.input-wrapper {
    width: 100%;
    flex-direction: row;
}

.input-wrapper>input {
    font-family: "PoppinsRegular", sans-serif, "FontAwesome";
    height: 38px;
    text-indent: 10px;
    background-color: variables.$input-bg-color;
    border: 1px solid variables.$input-border-color;
    border-radius: 8px;
    width: 100%;
}

.input-wrapper>input::placeholder {
    font-weight: 400;
    font-style: normal;
    color: variables.$input-text-color;
}