/**CARDS**/
.cards-container {
  // background-color: #0077B5;
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 5em;
  padding: 15px 10px 15px 10px;
}

/* card-wrapper */
.card-wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin: 0 75px 35px 75px;
  // margin: 0 60px 35px;
  overflow: hidden;
}

.card-list {
  width: 50%;
}

// Changer la largeur de card item lors du passage au petit écran
/* card-item */
.card-item {
  display: flex;
  align-content: center;
  height: auto !important;
  width: 275px !important;
  border: 3px solid #DCAC4D;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
}

.card-content {
  width: 240px !important;
  margin: 0 auto;
}

.card-item .card-content figure>img {
  border-radius: 10px;
  margin: 5px 0 10px 0;
}

.card-item .card-content .title>h3 {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.6em;
}

.card-item .card-content>.text {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 50px 0 50px 0;
  color: var(--text-color);
  list-style: none;
  line-height: 2.5em;
}

.card-item .card-content>.other-infos {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 20px 0 10px 0;
  color: var(--text-color);
  list-style: none;
  line-height: 2em;
}

.card-item:active {
  cursor: grabbing;
}


// Arrows
.swiper-button-next, .swiper-button-prev {
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 28px;
}


// Bullets
.swiper-pagination-bullet-active {
  --swiper-pagination-color: #7c362c;
}