.settings-container {
    max-width: 1080px;
    margin: 0 auto;
}


// setting-parent (section)
.settings-parent {
    flex-direction: column;
    padding-right: 5em;
    border: 1px solid #A0A0A0;
}


// all-setting (ul>li)
.settings-parent .all-settings>li {
    list-style-type: none;
    padding: 25px 0 25px 20px;
}

.settings-parent .all-settings li>a {
    flex-direction: row;
    align-items: center;
}


// Icons (ul li>a)
.all-settings li a>i {
    font-size: 25px;
    margin-right: 20px;
}

// .settings-parent .all-settings li:first-child::before {
//     font-family: "FontAwesome";
//     content: "\f007";
//     font-size: 27px;
//     color: #000;
//     vertical-align: sub;
//     margin-right: 20px;
// }

// .settings-parent .all-settings li:nth-child(2)::before {
//     font-family: "FontAwesome";
//     content: "\f0c6";
//     font-size: 27px;
//     color: #000;
//     vertical-align: sub;
//     margin-right: 20px;
// }

// .settings-parent .all-settings li:nth-child(3)::before {
//     font-family: "FontAwesome";
//     content: "\f29a";
//     font-size: 29px;
//     color: #000;
//     vertical-align: sub;
//     margin-right: 20px;
// }

// .settings-parent .all-settings li:last-child::before {
//     font-family: "FontAwesome";
//     content: "\f013";
//     font-size: 27px;
//     color: #000;
//     vertical-align: sub;
//     margin-right: 20px;
// }


// border-left
.border-left {
    border-left: 2px solid #000;
}