<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publier une traduction - Trouver Ma Traduction</title>
    <link rel="stylesheet" href="../../assets/style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="../assets/imgs/favicon/favicon-48x48.png">
</head>

<body class="forms-body">
    <main class="form-container d-flex">
        <div class="form-parent d-flex">
            <h1>Nouvelle publication</h1>

            <form action="" method="post" class="d-flex">
                <!-- Fichier -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="translation" class="w-50-percent mb-10 mt-first-label sign-label">Votre fichier</label>
                    <input type="file" class="form-input" name="translation" id="translation" />
                </div>

                <!-- Nom de la publication -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="nom-publication" class="w-50-percent mb-10 mt-first-label sign-label">Nom de la publication</label>
                    <input type="text" class="form-input" name="nom-publication" id="nom-publication">
                </div>
                
                <!-- Type de contenu -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="content-type" class="w-50-percent mb-10 mt-first-label sign-label">Type de contenu</label>
                    <select class="form-control form-input" name="content-type" id="content-type">
                        <option value="chanson">Chanson</option>
                        <option value="livre">Livre</option>
                        <option value="texte">Texte</option>
                    </select>
                </div>
                
                <!-- Style -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="style" class="w-50-percent mb-10 mt-second-label sign-label">Style</label>
                    <select class="form-control form-input" name="style" id="style">
                        <!-- <php include('../../php/categories.php') ?> -->
                    </select>
                </div>

                <!-- Auteur -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="auteur" class="w-50-percent mb-10 mt-first-label sign-label">Auteur</label>
                    <input type="text" class="form-input" name="auteur" id="auteur">
                </div>
                
                <!-- Langue -->
                <div class="w-50-percent d-i-flex form-input-parent">
                    <label for="langue" class="w-50-percent mb-10 mt-second-label sign-label">Langue</label>
                    <select class="form-control form-input" name="langue" id="langue">
                        <!-- <php include('../../php/categories.php') ?> -->
                    </select>
                </div>

                <input type="submit" name="publier" id="publier" value="Publier" class="submit-btn">
            </form>
        </div>
    </main>

    <!-- <script src="../assets/js/file-visualiser.js"></script> -->
</body>

</html>