/***************
FONT - Poppins
***************/

/***Thin***/
@font-face {
    font-family: "PoppinsThin";
    src: url("../assets/fonts/Poppins/Poppins-Thin.ttf");
}

/***ExtraLight***/
@font-face {
    font-family: "PoppinsExtralight";
    src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf");
}

/***Light***/
@font-face {
    font-family: "PoppinsLight";
    src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

/***Regular***/
@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

/***Medium***/
@font-face {
    font-family: "PoppinsMedium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

/***SemiBold***/
@font-face {
    font-family: "PoppinsSemiBold";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

/***Bold***/
@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

/***ExtraBold***/
@font-face {
    font-family: "PoppinsExtraBold";
    src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

/***Black***/
@font-face {
    font-family: "PoppinsBlack";
    src: url("../assets/fonts/Poppins/Poppins-Black.ttf");
}


/***ThinItalic***/
@font-face {
    font-family: "PoppinsThinItalic";
    src: url("../assets/fonts/Poppins/Poppins-ThinItalic.ttf");
}

/***ExtraLightItalic***/
@font-face {
    font-family: "PoppinsExtraLightItalic";
    src: url("../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}

/***LightItalic***/
@font-face {
    font-family: "PoppinsLightItalic";
    src: url("../assets/fonts/Poppins/Poppins-LightItalic.ttf");
}

/***MediumItalic***/
@font-face {
    font-family: "MediumItalic";
    src: url("../assets/fonts/Poppins/Poppins-MediumItalic.ttf");
}

/***SemiBoldItalic***/
@font-face {
    font-family: "SemiBoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
}

/***BoldItalic***/
@font-face {
    font-family: "BoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-BoldItalic.ttf");
}

/***ExtraBoldItalic***/
@font-face {
    font-family: "ExtraBoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}

/***BlackItalic***/
@font-face {
    font-family: "BlackItalic";
    src: url("../assets/fonts/Poppins/Poppins-BlackItalic.ttf");
}