/***************
FONT - Poppins
***************/


/****************
    NORMAL
****************/

/***Thin***/
@font-face {
    font-family: "PoppinsThin";
    src: url("../assets/fonts/Poppins/Poppins-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

/***ExtraLight***/
@font-face {
    font-family: "PoppinsExtralight";
    src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

/***Light***/
@font-face {
    font-family: "PoppinsLight";
    src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/***Regular***/
@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/***Medium***/
@font-face {
    font-family: "PoppinsMedium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/***SemiBold***/
@font-face {
    font-family: "PoppinsSemiBold";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

/***Bold***/
@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

/***ExtraBold***/
@font-face {
    font-family: "PoppinsExtraBold";
    src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

/***Black (heavy)***/
@font-face {
    font-family: "PoppinsBlack";
    src: url("../assets/fonts/Poppins/Poppins-Black.ttf");
    font-weight: 900;
    font-style: normal;
}


/****************
    ITALIC
****************/

/***ThinItalic***/
@font-face {
    font-family: "PoppinsThinItalic";
    src: url("../assets/fonts/Poppins/Poppins-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/***ExtraLightItalic***/
@font-face {
    font-family: "PoppinsExtraLightItalic";
    src: url("../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

/***LightItalic***/
@font-face {
    font-family: "PoppinsLightItalic";
    src: url("../assets/fonts/Poppins/Poppins-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

/***RegularItalic***/
@font-face {
    font-family: "PoppinsRegularItalic";
    src: url("../assets/fonts/Poppins-Italic.ttf");
    font-weight: 400;
    font-style: normal;
}

/***MediumItalic***/
@font-face {
    font-family: "MediumItalic";
    src: url("../assets/fonts/Poppins/Poppins-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

/***SemiBoldItalic***/
@font-face {
    font-family: "SemiBoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

/***BoldItalic***/
@font-face {
    font-family: "BoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

/***ExtraBoldItalic***/
@font-face {
    font-family: "ExtraBoldItalic";
    src: url("../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

/***BlackItalic (heavy)***/
@font-face {
    font-family: "BlackItalic";
    src: url("../assets/fonts/Poppins/Poppins-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}